html {
  background: url(IMG/markus-spiske-1050256-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bottom {
    position: fixed;
    bottom: 0;
}

ul {
  list-style-type: none;
}

.menue-bar {
  background-color: rgba(211, 211, 211, 0.6);
  padding: 20px;
  margin: 0;
}

.link {
  color: #808080;
  text-decoration: none;
}

.header {
  color: #808080;
  size: 35px;
}

.bottomline {
  color: #808080;
}

.container {
    width:250px;
    float: right;
    text-align: justify;
    padding: 80px;
    margin: 10;
    color: #808080;
    size: 40px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  padding: 20px;
  margin: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

img {
    border-radius: 50%;
}
